.header {
  width: 500px;
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 0.5fr;
}

.header_container {
  border: 1px solid black;
}

.header_title {
  font-size: 36px;
  font-weight: 700;

  span {
    font-size: 22px;
  }
}

.nav {
  margin: 5px 10px;
}

.darth_vader {
  width: 40px;
}

audio {
  width: 100px;
  height: 20px;
}
